/* Alerts
------------------------------------------------------------------- */

.alert-box {
  color: #fff;
  background-color: $grey-color-light;
  display: block;
  margin-bottom: 1em;
  position: relative;
  padding: 0.5em 0.5em 0.5em 0.5em;
  border-radius: $global-radius;
}
.alert-box p {
  margin: 0;
  padding: 0;
  text-transform: none !important;
}
.alert-box a {
  color: #fff;
  border-bottom: 1px dotted #fff;
}
.alert-box a:hover {
  border-bottom: 3px solid #fff;
}

.alert-box.text,
.alert-box.text a {
  color: $grey-color-dark;
}

.alert-box.text a {
  border-bottom: 1px dotted $grey-color-dark;
}

.alert-box.text a:hover {
  border-bottom: 2px solid $grey-color-dark;
}

.alert-box.info {
  background: $info-color;
}
.alert-box.alert {
  background: $alert-color;
}
.alert-box.success {
  background: $success-color;
}
.alert-box.warning {
  background: $warning-color;
}
.alert-box.terminal {
  background: $grey-color-dark;
  color: #fff;
  font-family: $font-family-monospace;
}
.alert-box.terminal::before {
  content: "$ ";
  color: $ci-2;
  float: left;
  margin-right: .5em;
}
