/* Panel
------------------------------------------------------------------- */

.border-dotted {
  border: 1px dotted $grey-color;
  padding: rem-calc(20);
  border-radius: $global-radius;
}


/* Colors
------------------------------------------------------------------- */

.ci-1 { color: $ci-1; }
.ci-2 { color: $ci-2; }
.ci-3 { color: $ci-3; }
.ci-4 { color: $ci-4; }

.ci-1-bg { background: $ci-1; }
.ci-2-bg { background: $ci-2; }
.ci-3-bg { background: $ci-3; }
.ci-4-bg { background: $ci-4; }

.alert-color { color: $alert-color; }
.success-color { color: $success-color; }
.warning-color { color: $warning-color; }
.info-color { color: $info-color; }

.alert-color-bg { background: $alert-color; }
.success-color-bg { background: $success-color; }
.warning-color-bg { background: $warning-color; }
.info-color-bg { background: $info-color; }


.grey { color: $grey-color; }
.grey-light { color: $grey-color-light; }
.grey-dark { color: $grey-color-dark; }


/* CSS-Classes to add margin at top or bottom
------------------------------------------------------------------- */

.t10 { margin-top: 10px !important; }
.t15 { margin-top: 15px !important; }
.t20 { margin-top: 20px !important; }
.t30 { margin-top: 30px !important; }
.t50 { margin-top: 50px !important; }
.t60 { margin-top: 60px !important; }
.t70 { margin-top: 70px !important; }
.t80 { margin-top: 80px !important; }
.t90 { margin-top: 90px !important; }

.b15 { margin-bottom: 15px !important; }
.b20 { margin-bottom: 20px !important; }
.b30 { margin-bottom: 30px !important; }
.b60 { margin-bottom: 60px !important; }


.bem1 { margin-bottom: 1em !important; }
.bem2 { margin-bottom: 2em !important; }
.bem3 { margin-bottom: 3em !important; }
.bem4 { margin-bottom: 4em !important; }



.l15 { margin-left: 15px !important; }
.r15 { margin-right: 15px !important; }

.pl20 { padding-left: 20px !important; }
.pr5  { padding-right: 5px !important; }
.pr10 { padding-right: 10px !important; }
.pr20 { padding-right: 20px !important; }
