/* Navigation
------------------------------------------------------------------- */
.fixed-topbar-navigation {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  background: $background-color;
  opacity: 0.9;
}
#topbar-navigation {
  height: 2em;
  line-height: 1.85em;
  border-bottom: 1px solid $grey-color-light;
}
#topbar-navigation ul {
  margin: 0;
  padding: 0 .5em;
  list-style: none;
}
#topbar-navigation li {
  margin: 0;
  padding: 0;
  display: inline;
}
#topbar-navigation li.left {
  float: left;
}
#topbar-navigation li.right {
  float: right;
}
#topbar-navigation a {
    font-size: $font-size-p;
    border: 0;
}
#topbar-navigation a:hover {
    text-decoration: none;
    color: $ci-1;
}
.icon-search svg,
.icon-navigation svg,
.icon-share svg {
    display: block;
    float: right;
    margin: .45em .25em 0px .25em;
    width: 1em;
    height: 1em;
}
.nav-icon {
  fill: $grey-color;
  transition: all 0.25s ease-out;
}
.nav-icon:hover {
  fill: $ci-1;
  width: 1.1em;
  height: 1.1em;
}
