/* Table of Contents (Index)
------------------------------------------------------------------- */

// Remove margin only on frontpage - toc
.first-h2 {
  margin: 0;
}

ul.toc  {
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: $header-font-family;
}

ul.toc li  {
  border-top: 1px solid lighten(#000, 85);
  line-height: 1.85em;
}

body.archive ul.toc li:nth-child(5n) {
  margin-bottom: 2em;
  border-bottom: 1px solid lighten(#000, 85);
}


ul.toc li:last-child  {
  border-bottom: 1px solid lighten(#000, 85);
}

// If there is a link to the article archive, don't
// show border bottom and instead a border on top
ul.toc li.archive-link  {
  border: 0;
  border-top: 1px solid lighten(#000, 85);
}

ul.toc li a {
  border: 0;
  display: block;
  transition: background .4s;
}

ul.toc li a span {
  color: $grey-color;
  display: none;
  padding-right: .5em;
}

ul.toc li a:hover span {
  display: inline;
}

ul.toc li:hover {
  background: lighten(#000, 95);
}

