/* Variables
------------------------------------------------------------------- */


/* Font Sizes
   http://www.modularscale.com/?1&em&1.125&web&table
------------------------------------------------------------------- */

$base-font-size:                    18px;
$base-font-size-medium-screen:      22px;
$base-font-size-large-screen:       26px;
$font-size-p:                        1em;
$font-size-h1:                       1em;
$font-size-h2:                       1em;
$font-size-h3:                       1em;
$font-size-h4:                       1em;
$font-size-h5:                       1em;
$font-size-h6:                       1em;
$font-size-small:                    1em;


/* Line-height */
$base-line-height: 1.5;


/* Font Weight */
$base-font-weight: normal;
$font-weight-normal: normal;
$font-weight-bold: bold;


/* Body
------------------------------------------------------------------- */

body {
    font-family: $base-font-family;
    font-size: $base-font-size;
    line-height: $base-line-height;
    color: $text-color;
    -webkit-text-size-adjust: 100%;
    // http://blog.typekit.com/2014/02/05/kerning-on-the-web/
    text-rendering: optimizeLegibility;
    // http://practice.typekit.com/lesson/caring-about-opentype-features/
    font-kerning: normal;
    font-variant-ligatures: common-ligatures, contextual;
    -moz-font-feature-settings: "kern", "liga", "clig", "calt";
    -ms-font-feature-settings: "kern", "liga", "clig", "alt";
    -webkit-font-feature-settings: "kern", "liga", "clig", "calt";
    font-feature-settings: "kern", "liga", "clig", "calt";
}
