/* Modular Scale 1em
   You can use different modular scales with *Simplicity*
   Just configure the modular scale in _config.yml you want to use.

   Font Sizes › http://www.modularscale.com/?1&em&1.125&web&table
------------------------------------------------------------------- */

$base-font-size                 : 18px;
$base-font-size-medium-screen   : 22px;
$base-font-size-large-screen    : 26px;
$font-size-p                    : 2.281em;
$font-size-h1                   : 2.027em;
$font-size-h2                   : 1.802em;
$font-size-h3                   : 1.602em;
$font-size-h4                   : 1.424em;
$font-size-h5                   : 1.266em;
$font-size-h6                   : 1.125em;
$font-size-small                : 0.889em;

