/* Typography for Articles
------------------------------------------------------------------- */

.subheadline {
	color: $grey-color;
	margin: 0;
}
.teaser,
article div.main-content p:first-child {
	text-transform: uppercase;
}
