/* Modular Scale 1em
   You can use different modular scales with *Simplicity*
   Just configure the modular scale in _config.yml you want to use.

   Font Sizes
------------------------------------------------------------------- */

$base-font-size                 : 18px;
$base-font-size-medium-screen   : 22px;
$base-font-size-large-screen    : 26px;
$font-size-p                    : 1em;
$font-size-h1                   : 1em;
$font-size-h2                   : 1em;
$font-size-h3                   : 1em;
$font-size-h4                   : 1em;
$font-size-h5                   : 1em;
$font-size-h6                   : 1em;
$font-size-small                : 1em;