<nav id="navigation">
	<ul>
		{% for nav in site.data.navigation %}
		{% if forloop.first %}<li id="logo" class="{{ nav.side }}"><a href="{{ site.url }}{{ site.baseurl }}{{ nav.url }}"{% if nav.class %} class="{{ nav.name }}"{% endif %}>{% if nav.image %}<img src="{{ site.url }}{{ site.baseurl }}/assets/img/{{ nav.image }}" alt="Visit the frontpage">{% else %}{{ nav.name }}{% endif %}</a></li>
		{% else %}
		<li class="{{ nav.side }}"><a href="{{ site.url }}{{ site.baseurl }}{{ nav.url }}"{% if nav.class %} class="{{ nav.name }}"{% endif %}>{{ nav.name }}</a></li>

		{% endif %}
		{% endfor %}
	</ul>
</nav>



