<footer id="footer" class="row">
	<nav id="navigation-footer" class="medium-8 medium-centered columns">
		<ul class="inline-list">
			{% for nav in site.data.navigation_footer %}
			{% if forloop.first %}
			{% else %}
			{% endif %}
              {% if nav.url contains 'http' %}
                {% assign domain = '' %}
              {% elsif nav.url == '#' %}
                {% assign domain = '' %}
              {% else %}
                {% assign domain = site.url %}
              {% endif %}
			<li{% if nav.class or nav.side %} class="{{ nav.side }} {{ nav.class }}"{% endif %}><a href="{{ domain }}{{ site.baseurl }}{{ nav.url }}"{% if nav.url contains 'http' %} target="_blank"{% endif %}>{{ nav.name }}</a></li>
			{% endfor %}
			<li id="up-to-top"><a href="#top-of-page">›</a></li>
		</ul>
	</nav>
</footer>



