{% comment %}
*
*   Currently not used › stored for a future release
*
*
{% endcomment %}
<li><a href="http://pinterest.com/pin/create/button/?url={{ site.url }}{{ site.baseurl }}{{ page.url }}&media={{ site.urlimg }}{{ page.image }}&description={{ page.content | truncatewords: 40 | strip_html }}" class="pin-it-button" count-layout="horizontal">Pin It</a></li>
<!-- Twitter (url, text, @mention) -->
<li><a href="http://twitter.com/share?url={{ site.url }}{{ site.baseurl }}{{ page.url }}&text=&raquo;{{ page.title }}&laquo;&via={{ site.socialmedia.twitter }}">Twitter</a></li>
<!-- Google Plus (url) -->
<li><a href="https://plus.google.com/share?url={{ site.url }}{{ site.baseurl }}/{{ page.url }}">
Google Plus</a></li>
<!-- Facebook (url) -->
<li><a href="http://www.facebook.com/sharer/sharer.php?u={{ site.url }}{{ site.baseurl }}{{ page.url }}">Facebook</a></li>
<!-- StumbleUpon (url, title) -->
<li><a href="http://www.stumbleupon.com/submit?url={{ site.url }}{{ site.baseurl }}{{ page.url }}&title={{ page.title }}">StumbleUpon</a></li>
<!-- Reddit (url, title) -->
<li><a href="http://reddit.com/submit?url={{ site.url }}{{ site.baseurl }}{{ page.url }}&title={{ page.title }}">Reddit</a></li>
<!-- LinkedIn (url, title, summary, source url) -->
<li><a href="http://www.linkedin.com/shareArticle?url={{ site.url }}{{ site.baseurl }}/{{ page.url }}&title={{ page.title }}&summary={{ content }}&source={{ site.url }}{{ site.baseurl }}/{{ page.url }}">LinkedIn</a></li>
<!-- Email (subject, body) -->
<li><a href="mailto:?subject={{ page.title }}&body={{ content }}">Email</a></li>