/* Variables
------------------------------------------------------------------- */

$spacing-unit:     30px;

$global-radius: 3px;

$content-width:    640px;

$small:  640px;
$medium: 1024px;
$large:  1440px;

