/* TOC

- Text Align
- Colors
- Table of Contents (Index)
- Frontpage
- Panel
- Responsive Video
- Shadows
- Alerts
- Breadcrumb
- Button
- CSS-Classes to add margin at top or bottom

*/


/* Text Align
------------------------------------------------------------------- */
.text-right { text-align: right; }
.text-left { text-align: left; }
.text-center { text-align: center; }
.block { display: block; }
.inline { display: inline; }

/* Colors
------------------------------------------------------------------- */

.ci-1 { color: $ci-1; }
.ci-2 { color: $ci-2; }
.ci-3 { color: $ci-3; }
.ci-4 { color: $ci-4; }

.ci-1-bg { background: $ci-1; }
.ci-2-bg { background: $ci-2; }
.ci-3-bg { background: $ci-3; }
.ci-4-bg { background: $ci-4; }

.alert-color { color: $alert-color; }
.success-color { color: $success-color; }
.warning-color { color: $warning-color; }
.info-color { color: $info-color; }

.alert-color-bg { background: $alert-color; }
.success-color-bg { background: $success-color; }
.warning-color-bg { background: $warning-color; }
.info-color-bg { background: $info-color; }


.grey { color: $grey-color; }
.grey-light { color: $grey-color-light; }
.grey-dark { color: $grey-color-dark; }




/* Responsive Video
------------------------------------------------------------------- */

.flex-video {
    height: 0;
    overflow: hidden;
    position: relative;
    padding-bottom: 67.5%;
}
.flex-video iframe, .flex-video object, .flex-video embed, .flex-video video {
    height: 100%;
    position: absolute;
    top: 0;
    width: 100%;
    left: 0;
}


/* Frontpage
------------------------------------------------------------------- */

// Remove margin only on frontpage - toc
.first-h2 {
  margin: 0;
}


/* Table of Contents (Index)
------------------------------------------------------------------- */

ul.toc  {
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: $header-font-family;
}

ul.toc li  {
  border-top: 1px solid lighten(#000, 85);
  line-height: 1.85em;
}

ul.toc li:last-child  {
  border-bottom: 1px solid lighten(#000, 85);
}

ul.toc li a {
  border: 0;
  display: block;
  transition: background .4s;
}




ul.toc li a span {
  color: $grey-color;
  display: none;
  padding-right: .5em;
}

ul.toc li a:hover span {
  display: inline;
}

ul.toc li:hover {
  background: lighten(#000, 95);
}


/* Panel
------------------------------------------------------------------- */

.border-dotted {
  border: 1px dotted $grey-color;
  padding: rem-calc(20);
  border-radius: $global-radius;
}



/* Shadows
------------------------------------------------------------------- */

.shadow-no      {text-shadow: rgba(0, 0, 0, 0) 0 0 0;}
.shadow-black   {text-shadow: rgba(0, 0, 0, 0.498039) 0px 1px 2px;}
.shadow-white   {text-shadow: rgba(255, 255, 255, 0.498039) 0px 1px 2px;}



/* Alerts
------------------------------------------------------------------- */
.alert-box {
  color: #fff;
  background-color: $grey-color-light;
  display: block;
  margin-bottom: 1em;
  position: relative;
  padding: 0.5em 0.5em 0.5em 0.5em;
  border-radius: $global-radius;
}
.alert-box p {
  margin: 0;
  padding: 0;
}
.alert-box a {
  text-shadow: 1px 1px 0px rgba(0, 0, 0, 1);
  color: #fff;
  border-bottom: 1px dotted #fff;
}
.alert-box a:hover {
  border-bottom: 3px solid #fff;
}

.alert-box.text,
.alert-box.text a {
  text-shadow: 0px 0px 0px rgba(0, 0, 0, 1);
  color: $grey-color-dark;
}

.alert-box.text a {
  border-bottom: 1px dotted $grey-color-dark;
}

.alert-box.text a:hover {
  border-bottom: 2px solid $grey-color-dark;
}

.alert-box.info {
  background: $info-color;
  text-shadow: 0px 1px 1px rgba(0,0,0,0.9);
}
.alert-box.alert {
  background: $alert-color;
  text-shadow: 0px 1px 1px rgba(0,0,0,0.9);
}
.alert-box.success {
  background: $success-color;
  text-shadow: 0px 1px 1px rgba(0,0,0,0.9);
}
.alert-box.warning {
  background: $warning-color;
  text-shadow: 0px 1px 1px rgba(0,0,0,0.9);
}
.alert-box.terminal {
  background: $grey-color-dark;
  text-shadow: 0px 1px 1px rgba(0,0,0,0.9);
  color: #fff;
  font-family: $font-family-monospace;
}
.alert-box.terminal::before {
  content: "$ ";
  color: $ci-2;
  float: left;
  margin-right: .5em;
}




/* Button
------------------------------------------------------------------- */

button, .button         { letter-spacing: 1px; }
  button.grey, .button.grey { background: $grey-color-dark; }
  button.grey:hover,
  button.grey:focus,
  .button.grey:hover,
  .button.grey:focus      { background-color: $grey-color-dark; }



/* CSS-Classes to add margin at top or bottom
------------------------------------------------------------------- */

.t10 { margin-top: 10px !important; }
.t15 { margin-top: 15px !important; }
.t20 { margin-top: 20px !important; }
.t30 { margin-top: 30px !important; }
.t50 { margin-top: 50px !important; }
.t60 { margin-top: 60px !important; }
.t70 { margin-top: 70px !important; }
.t80 { margin-top: 80px !important; }
.t90 { margin-top: 90px !important; }

.b15 { margin-bottom: 15px !important; }
.b20 { margin-bottom: 20px !important; }
.b30 { margin-bottom: 30px !important; }
.b60 { margin-bottom: 60px !important; }

.l15 { margin-left: 15px !important; }
.r15 { margin-right: 15px !important; }

.pl20 { padding-left: 20px !important; }
.pr5  { padding-right: 5px !important; }
.pr10 { padding-right: 10px !important; }
.pr20 { padding-right: 20px !important; }
