---
# Only the main Sass file needs front matter, rest is included from site.sass.sass_dir
sitemap:
  exclude: true
---
@charset "utf-8";

// Import partials from `sass_dir` (defaults to `_sass`)
// To change settings open the partials in the according folders.
// You better leave this file as is.

@import "00_functions/00_functions";

//  Set color scheme in _config.yml
@import "01_colors/_color_scheme_{{ site.color_scheme }}.scss";

@import "02_settings/00_settings";

@import "02_settings/00_normalize";


//     ______                                         __
//    /_  __/_  ______  ____  ____ __________ _____  / /_  __  __
//     / / / / / / __ \/ __ \/ __ `/ ___/ __ `/ __ \/ __ \/ / / /
//    / / / /_/ / /_/ / /_/ / /_/ / /  / /_/ / /_/ / / / / /_/ /
//   /_/  \__, / .___/\____/\__, /_/   \__,_/ .___/_/ /_/\__, /
//       /____/_/          /____/          /_/          /____/

/* Font Families */
$font-family-serif:         {{ site.font.font-family-serif }}
$font-family-sans-serif:    {{ site.font.font-family-sans-serif }}
$base-font-family:          {{ site.font.base-font-family }}
$font-family-monospace:     {{ site.font.font-family-monospace }}
$header-font-family:        {{ site.font.header-font-family }}

/* Line-height */
$base-line-height: 1.5;

/* Font Weight */
$base-font-weight: normal;
$font-weight-normal: normal;
$font-weight-bold: bold;

@import "04_typography/typography_{{ site.modular_scale }}.scss";
@import "04_typography/general_typography.scss";
@import "04_typography/typography_article.scss";
@import "04_typography/typography_media_queries.scss";
@import "04_typography/typography_css_elements.scss";
@import "04_typography/syntax_highlighting.scss";
@import "04_typography/links";





@import "05_layout/00_layout";
