{% if page.format == 'frontpage' %}
	{% for post in site.posts limit:1%}
	{% if forloop.first %}

	<header id="masthead"{% if post.header_image %} class="header-image"{% endif %}>
		{% if post.header_image %}
			<figure>
				<div style="background-image: url('{{ "/images/" | absolute_url }}{{ post.header_image }}');"></div>
				{% if post.header_caption_url && post.header_caption %}
				<figcaption>
					<a href="{{ post.header_caption_url }}" target="_blank">{{ post.header_caption }}</a>
				</figcaption>
				{% elsif post.header_caption %}
				<figcaption>
					{{ post.header_caption }}
				</figcaption>
				{% endif %}
			</figure>
		{% endif %}
	</header>

	{% endif %}
	{% endfor %}
{% elsif page.header_image %}

	<header id="masthead"{% if page.header_image %} class="header-image"{% endif %}>
		{% if page.header_image %}
			<figure>
				<div style="background-image: url('{{ "/images/" | absolute_url }}{{ page.header_image }}');"></div>
				{% if page.header_caption_url && page.header_caption %}
				<figcaption>
					<a href="{{ page.header_caption_url }}" target="_blank">{{ page.header_caption }}</a>
				</figcaption>
				{% elsif page.header_caption %}
				<figcaption>
					{{ page.header_caption }}
				</figcaption>
				{% endif %}
			</figure>
		{% endif %}
	</header>
{% endif %}