  <!-- Facebook Open Graph -->
  <meta property="og:title" content="{{ title }}">
  <meta property="og:description" content="{{ description }}">
  <meta property="og:locale" content="{% if site.og_locale == nil %}en_EN{% else %}{{ site.og_locale }}{% endif %}">
  <meta property="og:type" content="website">
  <meta property="og:url" content="{{ url }}{{ page.url }}">
  <meta property="og:site_name" content="{{ site.title }}">
  {% if page.image %}<meta property="og:image" content="{{ "/images/" | absolute_url }}{{ page.image }}">{% endif %}
  {% if site.socialmedia.facebook %}<meta property="article:author" content="https://www.facebook.com/{{ site.socialmedia.facebook }}">{% endif %}