<nav id="navigation">
  <ul class="toc">
  {% for nav in site.data.navigation_page %}
    {% if nav.url contains 'http' %}
      {% assign domain = '' %}
    {% elsif nav.url == '#' %}
      {% assign domain = '' %}
    {% else %}
      {% assign domain = site.baseurl | prepend: site.url %}
    {% endif %}
    <li{% unless nav.class == NULL and nav.side == NULL %} class="{{ nav.side }} {{ nav.class }}"{% endunless %}><a href="{{ domain }}{{ nav.url }}"{% if nav.url contains 'http' %} target="_blank"{% endif %}>{{ nav.name }}</a></li>
  {% endfor %}
  </ul>
</nav>
