---
layout: compress
format: archive
---
{% include _1_head.html %}

{% include _2_topbar_navigation.html %}

{% include _3_masthead.html %}

<div class="wrapper">

	<h1>{{ page.title }}</h1>

	{{ content }}

	<div class="class alert-box text">
		<p><strong>Search</strong></p>
		{% include search %}
	</div><!-- /.alert-box -->

	<ul class="toc">
	{% for post in site.posts %}
		{% if forloop.last %}
		<li><a href="{{ site.url }}{{ site.baseurl }}{{ post.url }}">{% if post.subheadline %}<span>{{ post.subheadline }}</span>{% endif %}{% if post.subheadline %}<span>{{ post.subheadline }}</span>{% endif %}{{ post.title }}</a></li>
		</ul>
		{% else %}
		<li><a href="{{ site.url }}{{ site.baseurl }}{{ post.url }}">{% if post.subheadline %}<span>{{ post.subheadline }}</span>{% endif %}{{ post.title }}</a></li>
		{% endif %}
	{% endfor %}

	{% include _4_footer.html %}

</div><!-- /.wrapper -->

{% include _5_footer_scripts.html %}