{% include _1_head.html %}

{% include _2_navigation.html %}

{% include _3_masthead.html %}

<div class="wrapper">

{% for post in site.posts %}
	{% if forloop.first %}

		{% if post.youtube %}
		<div class="flex-video">
		<iframe width="1280" height="720" src="https://www.youtube.com/embed/{{ post.youtube | remove: "https://www.youtube.com/watch?v=" }}" frameborder="0" allowfullscreen></iframe>
		</div>
		{% endif %}

		{% if post.image %}
		<figure>
			<img src="{{ site.urlimg }}{{ post.image.url }}" width="100%" alt="{{ post.title escape_once }}" itemprop="image">

			{% if post.image.caption_url && post.image.caption %}
			<figcaption>
				<a href="{{ post.image.caption_url }}">{{ post.image.caption }}</a>
			</figcaption>
			{% elsif post.image.caption %}
			<figcaptionß>
				{{ post.image.caption }}
			</figcaption>
			{% endif %}
		</figure>
		{% endif %}

		{% if post.subheadline %}<p class="subheadline">{{ post.subheadline }}</p>{% endif %}
		<h1><a href="{{ site.url }}{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h1>
		<p class="teaser">
			{{ post.excerpt  | replace: '<p>', '' | replace: '</p>', ''}}
			<a href="{{ site.url }}{{ site.baseurl }}{{ post.url }}">Read more ›</a>

		</p>

		<h2>More Articles</h2>
		<ul class="toc">
	{% elsif forloop.last %}
		<li><a href="{{ site.url }}{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></li>
		</ul>
	{% else %}
		<li><a href="{{ site.url }}{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></li>
	{% endif %}
{% endfor %}

{% include _3_footer.html %}

</div><!-- /.wrapper -->