---
layout: default
format: page
---
<article itemscope itemtype="http://schema.org/Article">
	<meta content="{% if site.language == nil %}en{% else %}{{ site.language }}{% endif %}" itemprop="inLanguage" />
	<header>
		{% if page.image %}
		<figure>
			<img src="{{ site.urlimg }}{{ page.image }}" alt="{{ page.title escape_once }}" itemprop="image">

			{% if page.caption_url && page.caption %}
			<figcaption>
				<a href="{{ page.caption_url }}" target="_blank">{{ page.caption }}</a>
			</figcaption>
			{% elsif page.caption %}
			<figcaptionß>
				{{ page.caption }}
			</figcaption>
			{% endif %}
		</figure>
		{% endif %}

		{% if page.subheadline %}<p class="subheadline">{{ page.subheadline }}</p>{% endif %}

		<h1 itemprop="name headline">{{ page.title }}</h1>
	</header>
	<div class="content" itemprop="articleSection">

		{% if page.youtube %}
		<div class="flex-video">
		<iframe width="1280" height="720" src="https://www.youtube.com/embed/{{ page.youtube | remove: "https://www.youtube.com/watch?v=" }}" frameborder="0" allowfullscreen></iframe>
		</div>
		{% endif %}


		{{ content }}

	</div><!-- /.content -->

	{% if page.comments == true %}
	{% include _comments.html %}
	{% endif %}

	<footer>
		<time class="text-right grey block" datetime="{{ page.date | remove: ' +0100' }}" itemprop="datePublished">{{ page.date | remove: ' +0100' }}</time>
	</footer>

	{% include _pagination.html %}
</article>
