/* Phlow Color Variables
------------------------------------------------------------------- */

// Phlow Colors
$phlow-hell: #f5b6c9;
$phlow-mittel: #d4007a;
$phlow-dunkel: #900055;

$phlow-haupt-hell: #fabb00;
$phlow-haupt-mittel: #aa0132;
$phlow-haupt-dunkel: #4b4b4d;

// Phlow CI
// Hauptfarben
$phlow-dunkel-grau: #4b4b4d;
$phlow-dunkel-braun: #771e1e;
$phlow-rotbraun: #aa0132;
$phlow-orange: #fabb00;

// Netlabels
$phlow-dunkel-gruen: #00792c;
$phlow-mittel-gruen: #6a9519;
$phlow-hell-gruen: #acca57;

// Video
$phlow-dunkel-rot: #e05a10;
$phlow-mittel-orange: #f29400;
$phlow-hell-gelb: #ffe444;

// Seminare
$phlow-dunkel-blau: #005380;
$phlow-mittel-blau: #0085ba;
$phlow-hell-blau: #82cbd0;

// Webdesign
$phlow-dunkel-violett: #900055;
$phlow-mittel-mangenta: #d4007a;
$phlow-hell-pink: #f5b6c9;

// Journalismus
$phlow-dunkel-graubraun: #6b6351;
$phlow-mittel-graubraun: #aaa296;
$phlow-hell-graubraun: #e1dcd7;

// Grautöne
$phlow-grau-sehr-hell: #f0f0f0;
$phlow-grau-hell: #7e7e7e;
$phlow-grau-mittel: #4b4b4b;
$phlow-grau-dunkel: #323232;
