// Legacy Color Scheme by Dayle Rees
// https://github.com/daylerees/colour-schemes
//
// When using a dark color scheme, text looks better with some shadow
body { text-shadow: 0 1px 3px rgba(0,0,0,0.5); }

// Turn off shadow for lighter backgrounds
.alert-box.text,
.gist { text-shadow: 0 0 0 rgba(0,0,0,0.5) !important; }



/* Corporate Identity Colorpalette
------------------------------------------------------------------- */

$ci-1: #F8BB39;
$ci-2: #95CC5E;		// is used as the secondary branding color.
$ci-3: #6ea240;		// is used as the primary branding color – for example for links.
$ci-4: #DB784D;



/* Alerts
------------------------------------------------------------------- */

$alert-color:   #DB784D;
$success-color: #6ea240;    // Additional Color not in Color Scheme
$warning-color: #F8BB39;
$info-color:    #267fb5;



/* Grey Scale
------------------------------------------------------------------- */

$grey-color:       #3c4e2d;
$grey-color-light: #95CC5E;
$grey-color-dark:  #6ea240;


/* Basics
------------------------------------------------------------------- */

$text-color:        #95CC5E;
$background-color:  #090b07;
$background-light-color:  #6ea240;
$line-color:        #6ea240;


/* Topbar Navigation
------------------------------------------------------------------- */

$topbar-navigation-background-color:    #12160d;
$topbar-navigation-border-bottom:       #12160d;


/* Footer (Meta and Site-Footer)
------------------------------------------------------------------- */

$footer-color:    		#3c4e2d;
